{{ with . }}
<ul class="codes-resource-list">
{{ range . }}
  {{ $searchText := printf "%s %s" .name (.description | default "") }}
  {{ range (.links | default (slice)) }}
    {{ $searchText = printf "%s %s %s" $searchText .name .url }}
  {{ end }}
  <li class="codes-resource-entry" data-resource-entry data-search-text="{{ lower ($searchText | plainify) }}">
    {{ if .url }}
    <a href="{{ .url }}">{{ .name }}</a>
    {{ else }}
    <strong>{{ .name }}</strong>
    {{ end }}
    {{ with .description }}: {{ . | markdownify }}{{ end }}
    {{ with .links }}:
      {{ range $index, $link := . }}{{ if $index }} | {{ end }}<a href="{{ $link.url }}">{{ $link.name }}</a>{{ end }}
    {{ end }}
  </li>
{{ end }}
</ul>
{{ end }}
