<footer>
  <div class="site-footer-inner">
    <div class="site-footer-heading">
      <p class="site-footer-title">{{ .Site.Params.footer_title }}</p>
      {{ with .Site.Params.contribute_note }}
      <p class="site-footer-text">{{ . }}</p>
      {{ end }}
    </div>
    <div class="site-footer-actions">
      {{ with .Site.Params.footer_links }}
      {{ range .items }}
      <a href="{{ .url }}">{{ .label }}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="site-footer-meta">
    <div class="container text-center">
    {{ with .Site.Copyright }}
      {{ replace . "{year}" now.Year | markdownify }}
    {{ end }}
    </div>
    <div class="container text-center">
    {{ with .Site.Params.lastupdate }}
      {{ replace . "{now}" (now.Format "2006/01/02") | markdownify }}
    {{ end }}
    </div>
  </div>
</footer>
