<nav class="navbar sticky-top navbar-expand navbar-light">
	<a class="navbar-brand" href="{{ "" | relURL }}">
		<img src="{{ "logo.png" | relURL }}" style="width:30px" />
		{{ .Site.Title }}
	</a>

	<div class="collapse navbar-collapse">
		<div class="navbar-nav ml-auto site-nav-links">
			{{ range .Site.Menus.main }}
			{{ $isCurrent := false }}
			{{ if eq .URL "/" }}
				{{ $isCurrent = $.IsHome }}
			{{ else if and $.RelPermalink (hasPrefix $.RelPermalink .URL) }}
				{{ $isCurrent = true }}
			{{ end }}
			<a class="nav-item nav-link{{ if $isCurrent }} is-current{{ end }}" href="{{ .URL }}">
				{{ .Name | safeHTML }}
			</a>
			{{ end }}
			{{ $editPath := "" }}
			{{ with .Params.edit_path }}
				{{ $editPath = . }}
			{{ else }}
				{{ with .File }}
					{{ $editPath = printf "%s/%s" $.Site.Params.edit_page.repo_dir (replace .Path "\\" "/") }}
				{{ end }}
			{{ end }}
			{{ with $editPath }}
			<a class="nav-item nav-link nav-link-edit"
				href="{{ $.Site.Params.edit_page.repo_url }}/{{ $.Site.Params.edit_page.edit_mode }}/{{ $.Site.Params.edit_page.branch }}/{{ . }}">
				<i class="fas fa-edit"></i> {{ $.Site.Params.edit_page.edit_text }}
			</a>
			{{ end }}
		</div>
	</div>
</nav>
