<nav class="navbar sticky-top navbar-expand navbar-light">
	<a class="navbar-brand" href="{{ .Site.BaseURL }}">
		<img src="{{ .Site.BaseURL }}/logo.png" style="width:30px" />
		{{ .Site.Title }}
	</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			{{ range .Site.Menus.main }}
			<a class="nav-item nav-link active" href="{{ .URL }}">
				{{ .Name | safeHTML }}
			</a>
			{{ end }}
			{{ $editPath := "" }}
			{{ with .Params.edit_path }}
				{{ $editPath = . }}
			{{ else }}
				{{ with .File }}
					{{ $editPath = printf "%s/%s" $.Site.Params.edit_page.repo_dir (replace .Path "\\" "/") }}
				{{ end }}
			{{ end }}
			{{ with $editPath }}
			<a class="nav-item nav-link active"
				href="{{ $.Site.Params.edit_page.repo_url }}/{{ $.Site.Params.edit_page.edit_mode }}/{{ $.Site.Params.edit_page.branch }}/{{ . }}">
				<i class="fas fa-edit"></i> {{ $.Site.Params.edit_page.edit_text }}
			</a>
			{{ end }}
		</ul>
	</div>
</nav>
