{{ with . }}
<div class="codes-table-wrap">
  <table class="codes-table resource-table">
    <colgroup>
      <col class="codes-col-name">
      <col class="codes-col-details">
      <col class="codes-col-tags">
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    {{ range . }}
      {{ $searchText := printf "%s %s" .name (.description | default "") }}
      {{ range (.tags | default (slice)) }}
        {{ $searchText = printf "%s %s" $searchText . }}
      {{ end }}
      {{ range (.links | default (slice)) }}
        {{ $searchText = printf "%s %s %s" $searchText .name .url }}
      {{ end }}
      {{ $tagText := "" }}
      {{ with .tags }}
        {{ range $index, $tag := . }}
          {{ if $index }}{{ $tagText = printf "%s,%s" $tagText (lower $tag) }}{{ else }}{{ $tagText = lower $tag }}{{ end }}
        {{ end }}
      {{ end }}
      <tr data-resource-entry data-search-text="{{ lower ($searchText | plainify) }}" data-tags="{{ $tagText }}">
        <td class="codes-col-name">
          {{ if .url }}
          <a href="{{ .url }}"><strong>{{ .name }}</strong></a>
          {{ else }}
          <strong>{{ .name }}</strong>
          {{ end }}
        </td>
        <td class="codes-col-details">
          {{ with .description }}{{ . | markdownify }}{{ end }}
        </td>
        <td class="codes-col-tags">
          {{ with .tags }}
          <div class="resource-tag-list">
            {{ range . }}<button type="button" class="resource-tag resource-filter-tag" data-learning-filter-tag="{{ lower . }}">{{ . }}</button>{{ end }}
          </div>
          {{ end }}
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
